@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* ==== Body ==== */
body {
  margin: 0rem;
  border: 0rem;
  font-family: "Montserrat";
  background-color: #dbe9e2;
  min-width: 968px;
}

/* ==== Headings ==== */
h3 {
  margin: 0rem;
  font-size: 24pt;
  font-weight: normal;
  margin-bottom: 1rem;
}

h4 {
  margin: 0rem;
  margin-bottom: 1rem;
  font-size: 15pt;
  font-weight: normal;
  color: #999999;
}

/* ==== Unordered Lists ==== */
ul {
  padding: 0rem;
  margin: 0rem;
}

/* ==== Header ==== */
.header {
  background-color: #034732;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.header ul {
  display: inline-block;
  text-align: right;
}

.headerLeft,
.headerRight {
  width: 50%;
}

.headerRight {
  padding-right: 1rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.headerRight-left {
  order: 1;
}

.headerRight-right {
  order: 2;
}

.headerLeft a {
  text-decoration: none;
  color: white;
  font-size: 30pt;
  padding-left: 1.5rem;
}

/* ==== Navigation ==== */
.nav li {
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
  padding-right: 1.5rem;
}

.nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
  transition: opacity 0.1s linear;
}

.nav a:hover {
  opacity: 1;
}

.nav h2 {
  color: white;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#loginBtnLink {
  opacity: 1;
}

#loginBtn,
#signout {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ==== Sub Navigation ==== */
.subnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #1f7058;
}

.subnav-container {
  margin-bottom: 2.5rem;
}

.subnav .eight-ball-icon,
.subnav .nine-ball-icon {
  order: 1;
  margin-right: 1rem;
}

.subnav .nav {
  order: 2;
  width: auto;
  font-size: 11pt;
}

.subnav .itemMenu {
  order: 3;
  margin-left: auto;
  width: 50px;
}

.subnav .collapsible {
  display: none;
}

.subnav .main-items {
  display: inline-block;
  padding-left: 1rem;
  font-size: 11pt;
}

.subnav li {
  padding-right: 2.5rem;
  vertical-align: middle;
  margin-bottom: 0.5rem;
}

.subnav-fade {
  width: 100%;
  height: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #dbe9e2);
}

/* ==== Content ==== */
.content {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.content-centre {
  text-align: center;
  margin-top: 0rem;
}

.contentLeft {
  order: 1;
  text-align: center;
}

.contentRight {
  order: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.kittyContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}

.kittyContent .contentLeft {
  width: 40%;
}

.kittyContent .contentRight {
  width: 60%;
}

#seasonsListContainer {
  margin-top: 0rem;
}

/* ==== Table ==== */
table th {
  padding: 5px 15px 5px 15px;
  background-color: #127e5c;
  color: white;
}

table td {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ==== Fixture Table ==== */
.fixtureTable {
  font-size: 18pt;
  width: 550px;
}

.fixtureTableCell {
  padding-left: 15px;
  padding-right: 15px;
}

#tablePlayer1,
#tablePlayer2 {
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tableScore1,
#tableScore2 {
  width: 50px;
}

#tableScore1 {
  border-right: 2px solid #127e5c;
}

#tableScore2 {
  border-left: 2px solid #127e5c;
}

.overdue {
  background-color: #e23e4b;
}

/* ==== League Table ==== */

.leagueTable {
  transition: font-size 0.3s linear;
  font-size: 18pt;
  margin: auto;
}

.leagueTable tr {
  height: 35px;
}

.leagueTableContainer h2 {
  margin-top: 0rem;
}

.leagueTable tr:hover td {
  background-color: #f2f2f2;
  cursor: default;
}

.leagueTable tr .delete-icon {
  opacity: 0;
}

.leagueTable tr:hover .delete-icon {
  opacity: 1;
}

.leagueTable tr:hover .leagueTablePaymentCol {
  background-color: white;
}

#leagueTablePlayerName {
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leagueTableForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.leagueTableFormItem {
  padding-left: 2px;
  padding-right: 2px;
}

.leagueTablePaymentCol {
  border-left: solid 2px #127e5c;
}

/* ==== Add Player Form ==== */
.addPlayerFormButtons {
  display: flex;
  justify-content: center;
}

.hiddenForm label {
  padding-right: 0.5rem;
}

.hiddenForm select {
  margin-bottom: 1rem;
}

.hiddenForm button {
  margin-top: 0.5rem;
}

.addPlayerForm {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

#addPlayerBtn {
  margin-right: 42px;
}

/* ==== Fixture and League Table positioning ==== */
.leagueTableContainer {
  display: inline-block;
  margin-bottom: 1rem;
}

.fixtureTableContainer {
  display: inline-block;
  margin-bottom: 4rem;
}

/* ==== Kitty ==== */
.kittyTable {
  font-size: 18pt;
  margin: auto;
  max-width: 80vh;
}

.kittyTable th,
.kittyTable td {
  text-align: center;
}

.kittyTable .lateRow {
  display: none;
}

.kittyTableContainer {
  min-width: 700px;
  width: 900px;
  margin-bottom: 2rem;
}

.kittyTableContainerNoSignIn {
  width: 900px;
  font-size: 18pt;
  margin-bottom: 4rem;
}

.kittyTableNoSignIn {
  width: 900px;
}

.showRow td {
  width: inherit;
  background-color: #127e5c;
  color: white;
  opacity: 0.75;
}

.showRow td:hover {
  cursor: pointer;
  opacity: 1;
}

#balanceTracker {
  margin-left: auto;
  background-color: #127e5c;
  color: white;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}

.kittyTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.kittyContent .contentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#makeTransactionBtn {
  width: fit-content;
  margin-bottom: 2rem;
}

.kittyTransactionContainer form {
  text-align: center;
  width: 50%;
  margin: auto;
}

.kittyTransactionContainer label {
  padding-right: 0.5rem;
}

.kittyTransactionContainer input {
  margin-bottom: 1rem;
  vertical-align: top;
}

.kittyTransactionContainer select {
  margin-bottom: 1rem;
}

.overduePaymentsTable {
  font-size: 18pt;
  max-width: 650px;
  margin: 0 auto;
}

.overduePaymentsTable td {
  padding: 5px 15px 5px 15px;
}

.overduePaymentsPay {
  background-color: transparent;
}

.overduePaymentsTitle {
  display: flex;
  justify-content: center;
}

.overduePaymentsTitle h3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.overduePaymentsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

/* ==== Labels in Create Season and Submit Score Forms ==== */
#createSeasonForm label,
#submitScoreForm label {
  font-size: 12pt;
  padding-right: 0.5rem;
}

#inputSeasonNo {
  margin-bottom: 1rem;
}

.error {
  color: red;
  margin-bottom: 2rem;
}

/* ==== Submit Score Form ==== */
#submitScoreForm input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#submitScoreForm select {
  margin-bottom: 1rem;
}

#submitScoreForm button {
  margin-top: 0.5rem;
}

.selectWinner label:hover,
.selectWinner input:hover {
  cursor: pointer;
}

#selectFixture {
  max-width: 250px;
}

/* ==== Inputs ==== */
input {
  border-width: 0px 0px 3px 0px;
}

input:focus {
  border-bottom-color: #127e5c;
  border-width: 0px 0px 3px 0px;
  outline: none;
}

input::placeholder,
input,
select {
  font-family: "Montserrat";
  font-size: 12pt;
}

select {
  border-width: 0px 0px 3px 0px;
  border-color: rgb(238, 238, 238);
}

/* ==== Input Players Text Inputs ==== */
.inputPlayers label {
  padding-right: 0.5rem;
  vertical-align: middle;
}

.inputPlayers {
  margin-top: 1rem;
}

.inputPlayers button {
  margin-top: 0.75rem;
}

.inputPlayers input {
  vertical-align: middle;
}

.form-row {
  margin-bottom: 1rem;
}

/* ==== Buttons ==== */
button {
  background-color: #127e5c;
  color: white;
  font-family: "Montserrat";
  padding: 5px 15px 5px 15px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 100px;
  font-size: 14pt;
  transition: transform 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#createNewSeason {
  margin-top: 10rem;
}

.removeBtn {
  background-color: #e23e4b;
  margin-left: 0.5rem;
}

#signout {
  background-color: #e23e4b;
}

#closeSeason {
  background-color: #e23e4b;
}

/* ==== Drop Downs ==== */
select:hover {
  cursor: pointer;
}

/* ==== Seasons Page ==== */
#seasons .content li {
  list-style-type: none;
  font-size: 20pt;
}

#seasons .content ul {
  text-align: left;
}

#seasons .content a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 1rem;
  width: 72%;
  vertical-align: middle;
  transition: background-color 0.1s linear;
}

.seasons-list-item {
  display: flex;
  align-items: center;
}

.seasons-list-item p {
  margin: 0;
  margin-right: 1rem;
  font-size: 20pt;
}

#seasonsList button {
  text-align: right;
}

#seasons .content a:hover {
  background-color: #f2f2f2;
}

#seasonsList h3 {
  text-align: center;
}

/* ==== Popup ==== */
.popup-container {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}

.form-popup #createSeasonForm .removeBtn {
  background-color: #e23e4b;
}

.form-popup #createSeasonForm {
  margin-top: 0rem;
  text-align: center;
}

.form-popup button {
  margin-top: 0.5rem;
}
.form-popup {
  margin-bottom: 150px;
}

#seasonsList .delete-icon {
  margin-left: 5.5rem;
}

/* ==== White Boxes ==== */
.viewYourFixtures,
#submitScoreForm,
.app #createSeasonForm,
.hiddenForm,
.form-popup {
  background-color: white;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 15px;
}

.submitScoreDiv {
  position: sticky;
  top: 30%;
}

.kittyTransactionContainer {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 4rem;
  border-radius: 15px;
}

/* ==== Hall Of Fame ==== */
.hall-of-fame-item:first-child {
  margin-top: 0.5rem;
}

.hall-of-fame-item {
  margin-bottom: 0.5rem;
}

.hofContainer {
  align-content: center;
  border-radius: 15px;
  padding: 1rem;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}
.achievementTableContainer {
  display: inline-block;
  margin-bottom: 1rem;
}

.achievementTable {
  font-size: 18pt;
}

.hofCell {
  padding-left: 10px;
  padding-right: 10px;
}

.achievementTable tr:nth-child(odd) .hofCell {
  background-color: #f2f2f2;
}

.achievementTable tr:nth-child(odd) .hofCellBad {
  background-color: #ffe4eb;
}

.hofCellBorder {
  padding-left: 10px;
  padding-right: 10px;

  background-color: #faf2f4;
}

.hofCellBad {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #faf2f4;
}

.achievementTable tr:nth-child(10) .hofCellBad {
  border-top: 1px solid #cacaca;
}

.hallOfFameTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hallOfFameTitleContainer h3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

#calendarContainer {
  background-color: white;
  width: 80%;
  min-width: 600px;
  margin: auto;
  padding: 4rem;
  border-radius: 30px;
  margin-bottom: 4rem;
}

#seasonsListContainer {
  background-color: white;
  width: 600px;
  margin-top: 0rem;
  align-self: flex-start;
  padding: 1rem;
  border-radius: 15px;
}

/* ==== Season Winners Table ==== */
.seasonWinnersTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seasonWinnersTitleContainer h3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.seasonWinnersTableContainer {
  display: inline-block;
  margin-bottom: 1rem;
}

.seasonWinnersTable {
  font-size: 18pt;
}

.seasonWinnersTable .rank {
  width: 60px;
}

/* ==== Final Rankings ==== */
.finalRankings {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.finalRankingsItem {
  display: flex;
  align-items: center;
}

.finalRankingsItem h1 {
  margin-left: 3rem;
}

/* ==== Final Stats Table ==== */
.finalStatsTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.finalStatsTitleContainer h3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.finalStatsTableContainer {
  display: inline-block;
  margin-bottom: 5rem;
}

.finalStatsTable {
  font-size: 18pt;
}

.finalStatsTable td:first-child {
  width: 70px;
}

.finalStatsTable .name {
  min-width: 200px;
}

.seasonClosed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.seasonClosed h1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ==== Arrange Fixture ==== */
#arrangeFixture {
  text-align: center;
}
#arrangeFixture label {
  padding-right: 0.5rem;
}

#arrangeFixture form {
  text-align: right;
  width: 50%;
  margin: auto;
}

#arrangeFixture select {
  margin-bottom: 1rem;
}

#arrangeFixtureBtn {
  text-align: center;
}

/* ==== View Your Fixtures ==== */
.viewYourFixtures form {
  text-align: center;
  width: 50%;
  margin: auto;
}

.viewYourFixtures {
  margin-bottom: 4rem;
}

.viewYourFixtures label {
  padding-right: 0.5rem;
}

.viewYourFixtures select {
  margin-bottom: 1rem;
}

.viewYourFixtures input {
  margin-bottom: 1rem;
  vertical-align: top;
}

.viewYourFixtures .hide:hover {
  cursor: pointer;
}

#viewFixtureBtns {
  text-align: center;
}

/* ==== Landing Page ==== */
.landingPage .content {
  text-align: center;
}
.landingPage .content .menu {
  display: inline-block;
}

.landingPage .content ul {
  list-style-type: none;
}

.landingPage .content li {
  display: inline-block;
  padding: 1rem;
}

/* .landingPage .content a {
  text-decoration: none;
  background-color: #127e5c;
  color: white;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border-radius: 100px;
  font-size: 24pt;
  width: 150px;
} */

.landingPageLink .eight-ball-icon,
.landingPageLink .nine-ball-icon {
  margin-right: 10px;
}

.landingPageLink {
  background-color: #127e5c;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  font-size: 24pt;
  width: 150px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s ease;
}

.landingPageLink:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.landingPage .content h1 {
  margin-top: 8rem;
  font-size: 45pt;
}

.landingPage .content h2 {
  margin-top: 8rem;
  font-size: 24pt;
}

/* ==== Tooltips ==== */
.achievementTitle {
  position: relative;
}
/* Tooltip text */
.achievementTitle .tooltiptext {
  visibility: hidden;
  max-width: 600px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: 10pt;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 95%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.achievementTitle .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.achievementTitle:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ==== Dashboard ==== */

/* upcoming matches */
.upcomingMatchesTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upcomingMatchesTitle h3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.upcomingMatchesTableContainer {
  display: inline-block;
  margin-bottom: 1rem;
}

.upcomingMatchesTable {
  font-size: 18pt;
  margin: auto;
}

.arrangedFixturesContainer {
  text-align: left;
  padding-left: 18px;
  min-width: 650px;
  margin: 0 auto;
}

/* unplayed fixtures */
.unplayedTitle {
  display: flex;
  flex-direction: row;
  margin-left: 18px;
}

.unplayed-accordian {
  width: 650px;
}

/* top of page */
.player-info {
  margin-bottom: 4rem;
}

/* unpaid seasons */
.unpaid-seasons-message,
.unpaid-season-title,
.unpaid-eight-ball,
.unpaid-nine-ball {
  display: flex;
  align-items: center;
}

.unpaid-eight-ball {
  display: flex;
  flex-wrap: wrap;
}

.unpaid-seasons-message {
  background-color: #e23e4b;
  color: white;
  width: 90%;
  margin: auto;
  padding: 5px 15px 5px 15px;
  margin-bottom: 1rem;
  border: 5px solid #a31c26;
  font-weight: bold;
}

.unpaid-eight-ball,
.unpaid-nine-ball,
.unpaid-total {
  font-size: 17pt;
  margin-left: 1rem;
}

.unpaid-season-title {
  min-width: 300px;
}

.unpaid-total {
  min-width: 200px;
}

.unpaid-season-title h3 {
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 21pt;
  font-weight: bold;
}

.unpaid-item {
  margin-left: 1rem;
}

.unpaid-total {
  margin-left: auto;
  text-align: right;
}

/* summary */
.summary-title {
  display: flex;
  justify-content: center;
}

.summary-title h3 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.summary-container h4 {
  color: black;
}

.summary-container {
  background-color: white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 1rem;
  border-radius: 15px;
}

/* stats */
.current-stats,
.all-time-stats {
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
}

.current-stats h4,
.all-time-stats h4 {
  margin-right: 1rem;
}

.current-league-pos,
.points-per-game {
  display: flex;
  align-items: center;
}

.stat h4 {
  background-color: #127e5c;
  color: white;
  padding: 5px 15px;
  margin-right: 0;
  font-weight: normal;
}

.current-form {
  text-align: right;
  margin-left: auto;
  display: flex;
}

.form-item {
  padding-left: 2px;
  padding-right: 2px;
}

.current-form .form-item:last-child {
  padding-right: 0;
}

.win-percentage {
  text-align: right;
  margin-left: auto;
  align-items: center;
  display: flex;
}

.stats-container {
  margin-bottom: 4rem;
}

/* chart */
.chart {
  width: 500px;
  margin: auto;
  margin-bottom: 4rem;
}

/* ==== Icons ==== */

.icon-20 {
  height: 20px;
  width: 20px;
}

.icon-24 {
  height: 24px;
  width: 24px;
}

.icon-32 {
  height: 32px;
  width: 32px;
}

.icon-36 {
  height: 36px;
  width: 36px;
}

.icon-40 {
  height: 40px;
  width: 40px;
}

.icon-60 {
  height: 60px;
  width: 60px;
}

.icon-100 {
  height: 100px;
  width: 100px;
}

.icon-120 {
  height: 120px;
  width: 120px;
}

.eight-ball-icon {
  background-image: url("./assets/eight-ball-vector.svg");
}

.eight-ball-icon-20 {
  margin: auto;
  background-image: url("./assets/eight-ball-vector-20.svg");
}

.nine-ball-icon {
  background-image: url("./assets/nine-ball-vector.svg");
}

.nine-ball-icon-20 {
  margin: auto;
  background-image: url("./assets/nine-ball-vector-20.svg");
}

.delete-icon {
  display: inline-block;
  margin-left: 0.5rem;
  background-image: url("./assets/delete-button-grey.svg");
  transition: background-image 0.1s linear;
}

.delete-icon:hover {
  cursor: pointer;
  background-image: url("./assets/delete-button.svg");
}

.trophy-icon {
  background-image: url("./assets/trophy.svg");
}

.clock-icon {
  background-image: url("./assets/clock.svg");
}

.snail-icon {
  background-image: url("./assets/snail.svg");
}

.graph-icon {
  background-image: url("./assets/upwards-graph.svg");
}

.weightlifting-icon {
  background-image: url("./assets/weightlifting.svg");
}

.boxing-icon {
  background-image: url("./assets/boxing.svg");
}

.train-icon {
  background-image: url("./assets/train.svg");
}

.angry-icon {
  background-image: url("./assets/angry.svg");
}

.thumbs-up-icon {
  background-image: url("./assets/thumbsup.svg");
}

.scales-icon {
  background-image: url("./assets/scales.svg");
}

.gold-medal-icon-large {
  background-image: url("./assets/gold-medal-large.svg");
}

.silver-medal-icon-large {
  background-image: url("./assets/silver-medal-large.svg");
}

.bronze-medal-icon-large {
  background-image: url("./assets/bronze-medal-large.svg");
}

.shield-icon {
  background-image: url("./assets/shield.svg");
}

.zero-icon {
  background-image: url("./assets/zero.svg");
}

.swords-icon {
  background-image: url("./assets/swords.svg");
}

.lock-icon-small {
  background-image: url("./assets/lock-small.svg");
}

.thumbs-down-icon {
  background-image: url("./assets/thumbs-down.svg");
}

.menu-icon {
  background-image: url("./assets/menu.svg");
  visibility: hidden;
}

.downward-graph-icon {
  background-image: url("./assets/downward-graph-red.svg");
}

.falling-man-icon {
  background-image: url("./assets/falling-man.svg");
}

.calendar-icon {
  background-image: url("./assets/calendar.svg");
}

.win-icon {
  background-image: url("./assets/win.svg");
  transition: background-image 0.3s linear;
}

.draw-icon {
  background-image: url("./assets/draw.svg");
  transition: background-image 0.3s linear;
}

.loss-icon {
  background-image: url("./assets/loss.svg");
  transition: background-image 0.3s linear;
}

.no-game-icon {
  background-image: url("./assets/no-game.svg");
  transition: background-image 0.3s linear;
}

.no-entry-icon {
  background-image: url("./assets/no-entry.svg");
}

.tick-icon {
  background-image: url("./assets/tick.svg");
  transition: background-image 0.3s linear;
  transition: width 0.3s linear;
  transition: height 0.3s linear;
}

.cross-icon {
  background-image: url("./assets/cross.svg");
  transition: background-image 0.3s linear;
  transition: width 0.3s linear;
  transition: height 0.3s linear;
}

.chequered-flag-icon {
  background-image: url("./assets/chequered-flag.svg");
}

.chequered-flag-icon-36 {
  background-image: url("./assets/chequered-flag-36px.svg");
}

.playoff-icon {
  background-image: url("./assets/playoff.svg");
}

.playoff-icon-100-left {
  background-image: url("./assets/playoff-100-left.svg");
}

.playoff-icon-100-right {
  background-image: url("./assets/playoff-100-right.svg");
}

.book-icon {
  background-image: url("./assets/book.svg");
}

.money-cash-icon-grey {
  background-image: url("./assets/money-cash-grey.svg");
  transition: background-image 0.3s ease;
}

.pay-button-container {
  display: flex;
  width: 100px;
}

.pay-button-container p {
  opacity: 0;
  margin: 0;
  margin-left: 0.5rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.pay-button-container:hover {
  cursor: pointer;
}

.pay-button-container:hover .money-cash-icon-grey {
  background-image: url("./assets/money-cash.svg");
}

.pay-button-container:hover p {
  opacity: 1;
}

/* ==== Toast ==== */
.toast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toast p {
  margin-left: 10px;
}

/* ==== Responsive Styling ==== */

@media only screen and (max-width: 1364px) {
  .subnav .main-items {
    display: none;
  }

  .collapsible {
    position: absolute;
    background-color: #1f7058;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    right: 0;
    font-size: 18pt;
    color: white;
  }

  .collapsible li {
    margin-top: 1rem;
  }

  .collapsible a {
    padding-left: 1rem;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: opacity 0.1s linear;
  }

  .collapsible a:hover {
    opacity: 1;
  }

  .menu-icon {
    visibility: visible;
  }

  .menu-icon:hover {
    cursor: pointer;
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
  }

  #seasonsListContainer {
    order: 1;
    align-self: center;
    text-align: left;
  }

  .kittyContent .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .kittyContent .contentLeft {
    width: 100%;
  }

  .kittyContent .contentRight {
    width: 100%;
  }

  .contentLeft {
    order: 3;
    margin-bottom: 4rem;
    height: auto;
    position: static;
  }

  .contentRight {
    order: 4;
  }

  .summary-container {
    width: 700px;
    margin: auto;
    margin-bottom: 4rem;
  }

  .overduePaymentsTable {
    width: 500px;
  }

  .kittyTable {
    min-width: 900px;
    width: 900px;
  }

  .kittyTableContainer {
    min-width: 900px;
    width: 900px;
  }
}

@media only screen and (min-width: 1365px) {
  .subnav .main-items {
    display: none;
  }

  .collapsible {
    position: absolute;
    background-color: #1f7058;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    right: 0;
    font-size: 18pt;
    color: white;
  }
  .collapsible li {
    margin-top: 1rem;
  }

  .collapsible a {
    padding-left: 1rem;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    transition: opacity 0.1s linear;
  }

  .collapsible a:hover {
    opacity: 1;
  }

  .menu-icon {
    visibility: visible;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .contentRight-bottom {
    align-self: stretch;
    flex-shrink: 10;
    margin-bottom: 10px;
  }

  .leagueTableWin,
  .leagueTableDraw,
  .leagueTableLose,
  .leagueTableFor,
  .leagueTableAgainst {
    display: none;
  }

  .kittyTableDesc,
  .kittyTableDate {
    display: none;
  }

  .kittyTable {
    min-width: 700px;
    width: 700px;
  }

  .kittyTableContainer {
    min-width: 700px;
    width: 700px;
  }
}

@media only screen and (min-width: 1455px) {
  .itemMenu {
    display: none;
  }

  .subnav .main-items {
    display: inline-block;
  }
}

@media only screen and (min-width: 1551px) {
  .leagueTableWin,
  .leagueTableDraw,
  .leagueTableLose,
  .leagueTableFor,
  .leagueTableAgainst {
    display: table-cell;
  }

  .kittyTableDesc,
  .kittyTableDate {
    display: table-cell;
  }

  .kittyTable {
    min-width: 900px;
  }

  .kittyTableContainer {
    min-width: 900px;
    width: 900px;
  }
}
