@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0rem;
  border: 0rem;
  font-family: Montserrat;
  background-color: #f2f2f2;
}

.app {
  background-color: #f2f2f2;
}

.header {
  background-color: #0f5d0f;
  color: white;
  padding: 1rem;
}

.header .nav {
  position: absolute;
  right: 1rem;
}

.header h1 {
  font-size: 2.5em;
  margin: 0rem;
  display: inline-block;
}

.header ul {
  align-content: right;
}

.nav {
  display: inline-block;
}

.nav li {
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
  padding-right: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.subnav {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #999999;
}

.subnav ul {
  padding: 0rem;
  margin: 0rem;
}
