@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* ==== Body ==== */
body {
  margin: 0rem;
  border: 0rem;
  font-family: "Montserrat";
  /*background-color: #f2f2f2;*/
  background-color: #dbe9e2;
  min-width: 800px;
}

/* ==== Headings ==== */
h3 {
  margin: 0rem;
  font-size: 24pt;
  font-weight: normal;
  margin-bottom: 1rem;
}

/* ==== Header ==== */
.header {
  /*background-color: #0f5d0f;*/
  /*background-color: #025939;*/
  background-color: #034732;

  color: white;
  padding: 1rem;
}

.header ul {
  display: inline-block;
  align-content: right;
}

.headerLeft,
.headerRight {
  display: inline-block;
  width: 50%;
}

.headerRight {
  vertical-align: middle;
  text-align: right;
}

.headerRight ul {
  padding: 0rem;
  margin: 0rem;
}

.headerLeft a {
  text-decoration: none;
  color: white;
  font-size: 30pt;
  font-weight: bold;
  padding-left: 1.5rem;
}

/* ==== Navigation ==== */
.nav li {
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
  padding-right: 1.5rem;
}

.nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  font-weight: bold;
}

.nav h2 {
  color: white;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* ==== Sub Navigation ==== */
.subnav {
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /*background-color: #999999;*/
  /*background-color: #05a678;*/
  background-color: #1f7058;
  box-shadow: 0px 8px 10px -6px;
  margin-bottom: 2.5rem;
}

.subnav ul {
  padding: 0rem;
  margin: 0rem;
  display: inline-block;
  padding-left: 5rem;
}

/* ==== Content ==== */
.content-centre {
  text-align: center;
  margin: auto;
  padding-bottom: 8rem;
}

.contentRight {
  display: inline-block;
  position: absolute;
  width: 50%;
  text-align: center;
  min-width: 700px;
}

.contentLeft {
  width: 50%;
  display: inline-block;
  text-align: center;
}

/* ==== Table ==== */
table th {
  padding: 5px 15px 5px 15px;
  /*background-color: #0f5d0f;*/
  /*background-color: #025939;*/
  /*background-color: #034732;*/
  /*background-color: #1a936f;*/
  background-color: #127e5c;
  color: white;
}

table td {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ==== Fixture Table ==== */
.fixtureTable {
  font-size: 18pt;
}

.fixtureTableCell {
  padding-left: 15px;
  padding-right: 15px;
}

.fixtureTableContainer {
  margin-top: 8rem;
}

/* ==== League Table ==== */
.leagueTable {
  font-size: 18pt;
}

.leagueTableContainer h2 {
  margin-top: 0rem;
}

/* ==== Fixture and League Table positioning ==== */
.fixtureTableContainer,
.leagueTableContainer {
  display: inline-block;
  margin-bottom: 8rem;
}

/* ==== Labels in Create Season and Submit Score Forms ==== */
.createSeasonForm label,
.submitScoreForm label {
  font-size: 12pt;
  padding-right: 0.5rem;
}

/* ==== Submit Score Form ==== */
.submitScoreForm {
  margin-bottom: 8rem;
}

.submitScoreForm input {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 150px;
}

#score1,
#score2 {
  width: 75px;
}

.submitScoreForm button {
  margin-top: 0.5rem;
}

/* ==== Inputs ==== */
input {
  border-width: 0px 0px 3px 0px;
}

input:focus {
  border-bottom-color: #127e5c;
  border-width: 0px 0px 3px 0px;
  outline: none;
}

input::placeholder,
input,
select {
  font-family: "Montserrat";
  font-size: 12pt;
}

select {
  border-width: 0px 0px 3px 0px;
  border-color: rgb(238, 238, 238);
}

/* ==== Input Players Text Inputs ==== */
.inputPlayers label {
  padding-right: 0.5rem;
  vertical-align: middle;
}

.inputPlayers {
  margin-top: 1rem;
}

.inputPlayers button {
  margin-top: 0.75rem;
}

.inputPlayers input {
  vertical-align: middle;
}

.form-row {
  margin-bottom: 1rem;
}

/* ==== Buttons ==== */
button {
  /*background-color: #0f5d0f;*/
  /*background-color: #025939;*/
  /*background-color: #034732;*/
  /*background-color: #1a936f;*/
  background-color: #127e5c;
  color: white;
  font-family: "Montserrat";
  padding: 5px 15px 5px 15px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 100px;
  font-size: 14pt;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

#createNewSeason {
  margin-top: 10rem;
}

.removeBtn {
  /*background-color: #c40000;*/
  background-color: #e23e4b;
  margin-left: 0.5rem;
}

/* ==== Seasons Page ==== */
.seasons .content li {
  list-style-type: none;
  font-size: 20pt;
}

.seasons .content ul {
  padding-left: 0rem;
  text-align: left;
  margin: 0rem;
}

.seasons .content a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 1rem;
  width: 72%;
  vertical-align: middle;
}

.seasonsList button {
  text-align: right;
}

.seasons .content a:hover {
  background-color: #f2f2f2;
}

.seasonsList h3 {
  text-align: center;
}

/* ==== Popup ==== */
.popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}

.form-popup .createSeasonForm .removeBtn {
  /*background-color: #c40000;*/
  background-color: #e23e4b;
}

.form-popup .createSeasonForm {
  margin-top: 0rem;
  text-align: center;
}

.form-popup button {
  margin-top: 0.5rem;
}

.seasonsList .delete-icon {
  margin-left: 5.5rem;
}

.delete-icon {
  margin-left: 0.5rem;
  vertical-align: middle;
}

.delete-icon:hover {
  cursor: pointer;
}

/* ==== White Boxes ==== */
.viewYourFixtures,
.submitScoreForm,
.seasonsListContainer,
.app .createSeasonForm,
.form-popup,
.arrangeFixture {
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
}

/* ==== Arrange Fixture ==== */
.arrangeFixture {
  margin-top: 8rem;
}

.arrangeFixture label {
  padding-right: 0.5rem;
}

.arrangeFixture form {
  text-align: right;
  width: 50%;
  margin: auto;
}

.arrangeFixture select {
  margin-bottom: 1rem;
}

.arrangeFixtureBtn {
  text-align: center;
}

/* ==== View Your Fixtures ==== */
.viewYourFixtures label {
  padding-right: 0.5rem;
}

.viewYourFixtures {
  margin-bottom: 8rem;
}

/* ==== Landing Page ==== */
.landingPage .content {
  text-align: center;
}
.landingPage .content .menu {
  display: inline-block;
}

.landingPage .content ul {
  list-style-type: none;
  padding: 0rem;
}

.landingPage .content li {
  display: inline-block;
  padding: 1rem;
}

.landingPage .content a {
  text-decoration: none;
  /*background-color: #0f5d0f;*/
  background-color: #127e5c;
  color: white;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border-radius: 100px;
  font-size: 24pt;
  width: 150px;
}

.landingPage .content a:hover {
  font-weight: bold;
}

.landingPage .content h1 {
  margin-top: 8rem;
  font-size: 45pt;
}

.landingPage .content h2 {
  margin-top: 8rem;
  font-size: 24pt;
}
